In [1]:
import pandas as pd
import requests
import json

In [2]:
from config import api_key

In [3]:
url = "https://api.rawg.io/api/games?"
page = 1

In [4]:
query_url = f"{url}key={api_key}&page:{page}"

In [5]:
name_list = []
metacritic_list = []
release_list = []
genre_list = []

for page in range(1, 400):
    query_url = f"{url}key={api_key}&page={page}"
    response = requests.get(query_url)
    data = response.json()
    for game in data["results"]:
        name = game["name"]
        name_list.append(name)
        metacritic_rating = game["metacritic"]
        metacritic_list.append(metacritic_rating)
        released_date = game["released"]
        release_list.append(released_date)
        genre = game["genres"][0]["name"] if game["genres"] else None
        genre_list.append(genre)

In [6]:
game_api_df = pd.DataFrame(
    {"Name": name_list,
     "Metacritic Rating":metacritic_list,
     "Release Date":release_list,
     "Genre":genre_list,    
    })
game_api_df

,Name,Metacritic Rating,Release Date,Genre
0,Grand Theft Auto V,92.0,2013-09-17,Action
1,The Witcher 3: Wild Hunt,92.0,2015-05-18,Action
2,Portal 2,95.0,2011-04-18,Shooter
3,Tomb Raider (2013),86.0,2013-03-05,Action
4,Counter-Strike: Global Offensive,81.0,2012-08-21,Action
...,...,...,...,...
7975,Surge,77.0,2016-05-16,Action
7976,LuckCatchers,NaN,2016-11-15,RPG
7977,UFO Online: Invasion,NaN,2016-06-08,RPG
7978,LEGRAND LEGACY,NaN,None,Action
7979,The Gallery - Episode 1: Call of the Starseed,NaN,2016-04-05,Adventure

In [7]:
game_api_df.to_csv('game_api.csv')