# Import the Dependancies

In [1]:
#SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
from config import pwd_postgresql

In [2]:
#Create Engine 
engine = create_engine('postgresql://postgres:****@localhost:5432/video_games_project')

# Connect to the SQL table that has already been created

In [3]:
%load_ext sql

In [4]:
%sql $engine.url

In [5]:
data = %sql SELECT * FROM joined_games

 * postgresql://postgres:***@localhost:5432/video_games_project
33812 rows affected.

In [6]:
# Make a data frame using the table from Postgres
games_df = pd.DataFrame(data)
games_df.head()

,name,year,certificate,rating,votes,platform,publishers,developer,global_sales
0,The Sims,2000.0,T,7.9,2252.0,Series,Electronic Arts,Maxis,None
1,Final Fantasy,1987.0,Unrated,7.6,1219.0,Series,Square,Square,None
2,Grand Theft Auto V,2013.0,M,9.5,59996.0,All,Rockstar Games,Rockstar North,None
3,Grand Theft Auto V,2013.0,M,9.5,59986.0,All,Rockstar Games,Rockstar North,None
4,Need for Speed,2015.0,T,6.6,1079.0,Series,Electronic Arts,EA Black Box,None

# Check and Clean the Data

In [7]:
# Check the size of the dataframe
print(games_df.shape)

(33812, 9)

In [8]:
# Remove any rows which don't have a value for global sales 
games_df_values = games_df[games_df['global_sales'] > 0]

In [9]:
# Check that these rows have been removed
print(games_df_values.shape)

(7995, 9)

In [10]:
games_df_values.head()

,name,year,certificate,rating,votes,platform,publishers,developer,global_sales
22,Wii Sports,2006.0,E,7.7,3883.0,Wii,Nintendo,Nintendo EAD,82.65
57,Mario Kart 8 Deluxe,2017.0,E,8.7,2618.0,NS,Nintendo,Nintendo EPD,13.05
78,Super Mario Bros.,1986.0,None,7.7,55.0,NES,Nintendo,Nintendo EAD,40.24
79,Super Mario Bros.,1985.0,None,8.9,6207.0,NES,Nintendo,Nintendo EAD,40.24
89,Mario Kart Wii,2008.0,E,8.4,3926.0,Wii,Nintendo,Nintendo EAD,35.98

In [11]:
#Group by and Sum the values to get the total sales by game name 
game_names_df = games_df_values.groupby(['name']).sum()
game_names_df.head()

                                 year  votes
name
.hack//G.U. Last Recode        2017.0   34.0
.hack//G.U. Vol.1//Rebirth     2006.0   85.0
.hack//G.U. Vol.2//Reminisce   2006.0   42.0
.hack//G.U. Vol.3//Redemption  2007.0   42.0
.hack//Link                    2010.0   10.0

In [12]:
# Convert the Decimal figures from the database to float figures so these can be used in calculations
num_list = games_df_values['global_sales'].apply(pd.to_numeric, downcast='float')
print(num_list)

22      82.65
57      13.05
78      40.24
79      40.24
89      35.98
        ...
9866     0.01
9867     0.01
9868     0.01
9869     0.01
9870     0.01
Name: global_sales, Length: 7995, dtype: float64

In [13]:
#Convert the numerical figures into a dataframe
global_2 = pd.DataFrame(num_list)
global_2.head()

    global_sales
22         82.65
57         13.05
78         40.24
79         40.24
89         35.98

In [14]:
# Merge the numerical figures into the data frame
merged_games_df = pd.merge(games_df_values, global_2, left_index=True, right_index=True)
merged_games_df.head()

,name,year,certificate,rating,votes,platform,publishers,developer,global_sales_x,global_sales_y
22,Wii Sports,2006.0,E,7.7,3883.0,Wii,Nintendo,Nintendo EAD,82.65,82.65
57,Mario Kart 8 Deluxe,2017.0,E,8.7,2618.0,NS,Nintendo,Nintendo EPD,13.05,13.05
78,Super Mario Bros.,1986.0,None,7.7,55.0,NES,Nintendo,Nintendo EAD,40.24,40.24
79,Super Mario Bros.,1985.0,None,8.9,6207.0,NES,Nintendo,Nintendo EAD,40.24,40.24
89,Mario Kart Wii,2008.0,E,8.4,3926.0,Wii,Nintendo,Nintendo EAD,35.98,35.98

In [15]:
# Remove any duplicate figures
unique_games_df = merged_games_df.drop_duplicates(subset=['name'], keep = 'first')
unique_games_df.head()

,name,year,certificate,rating,votes,platform,publishers,developer,global_sales_x,global_sales_y
22,Wii Sports,2006.0,E,7.7,3883.0,Wii,Nintendo,Nintendo EAD,82.65,82.65
57,Mario Kart 8 Deluxe,2017.0,E,8.7,2618.0,NS,Nintendo,Nintendo EPD,13.05,13.05
78,Super Mario Bros.,1986.0,None,7.7,55.0,NES,Nintendo,Nintendo EAD,40.24,40.24
89,Mario Kart Wii,2008.0,E,8.4,3926.0,Wii,Nintendo,Nintendo EAD,35.98,35.98
99,Wii Sports Resort,2009.0,E,7.8,1435.0,Wii,Nintendo,Nintendo EAD,32.9,32.90

In [16]:
# Check the dulplicates have been removed
print(unique_games_df.shape)

(3970, 10)

In [17]:
# Remove the unwated columns 

tidy_unique_games_df = unique_games_df[['name','certificate', 'platform', 'publishers', 'global_sales_y']].copy()
tidy_unique_games_df.head()

                   name certificate platform  publishers  global_sales_y
22           Wii Sports           E      Wii  Nintendo             82.65
57  Mario Kart 8 Deluxe           E       NS  Nintendo             13.05
78    Super Mario Bros.        None      NES  Nintendo             40.24
89       Mario Kart Wii           E      Wii  Nintendo             35.98
99    Wii Sports Resort           E      Wii  Nintendo             32.90

# Add in additional data that has been extracted from the API

In [18]:
# Insert the csv file and create a data frame
csv_file_3 = "game_api.csv"
game_api = pd.read_csv(csv_file_3)
game_api.head()

,Unnamed: 0,name,Metacritic Rating,Release Date,Genre
0,0,Grand Theft Auto V,92.0,17/09/2013,Action
1,1,The Witcher 3: Wild Hunt,92.0,18/05/2015,Action
2,2,Portal 2,95.0,18/04/2011,Shooter
3,3,Tomb Raider (2013),86.0,05/03/2013,Action
4,4,Counter-Strike: Global Offensive,81.0,21/08/2012,Action

In [19]:
# Merge the inital table and API table
final_game_merge_df = pd.merge(tidy_unique_games_df, game_api, on = 'name')
final_game_merge_df.head()

,name,certificate,platform,publishers,global_sales_y,Unnamed: 0,Metacritic Rating,Release Date,Genre
0,Wii Sports,E,Wii,Nintendo,82.65,5135,76.0,19/11/2006,Sports
1,Mario Kart 8 Deluxe,E,NS,Nintendo,13.05,1403,92.0,27/04/2017,Racing
2,Super Mario Bros.,None,NES,Nintendo,40.24,1841,NaN,13/09/1985,Action
3,Mario Kart Wii,E,Wii,Nintendo,35.98,4182,82.0,27/04/2008,Racing
4,Wii Sports Resort,E,Wii,Nintendo,32.90,7475,80.0,26/07/2009,Sports

In [20]:
# Remove the unwanted columns 
games_final_1 = final_game_merge_df.drop(['Unnamed: 0'],axis=1)
games_final_1.head()

,name,certificate,platform,publishers,global_sales_y,Metacritic Rating,Release Date,Genre
0,Wii Sports,E,Wii,Nintendo,82.65,76.0,19/11/2006,Sports
1,Mario Kart 8 Deluxe,E,NS,Nintendo,13.05,92.0,27/04/2017,Racing
2,Super Mario Bros.,None,NES,Nintendo,40.24,NaN,13/09/1985,Action
3,Mario Kart Wii,E,Wii,Nintendo,35.98,82.0,27/04/2008,Racing
4,Wii Sports Resort,E,Wii,Nintendo,32.90,80.0,26/07/2009,Sports

In [49]:
# Rename the columns to match the table in the Database and remove NaN values
games_final_2 = games_final_1.rename(columns = {'name' : 'name', 'certificate' : 'certificate', 'platform' : 'platform', 'publishers' : 'publishers', 'global_sales_y': 'global_sales_millions', 'Metacritic Rating' : 'metacritic_rating', 'Release Date' : 'release_date', 'Genre': 'genre'})
games_final_2['metacritic_rating'] = games_final_2['metacritic_rating'].fillna("None Provided")
games_final_2['certificate'] = games_final_2['certificate'].fillna("No Cert Req")
games_final_2.head()

,name,certificate,platform,publishers,global_sales_millions,metacritic_rating,release_date,genre
0,Wii Sports,E,Wii,Nintendo,82.65,76.0,19/11/2006,Sports
1,Mario Kart 8 Deluxe,E,NS,Nintendo,13.05,92.0,27/04/2017,Racing
2,Super Mario Bros.,No Cert Req,NES,Nintendo,40.24,None Provided,13/09/1985,Action
3,Mario Kart Wii,E,Wii,Nintendo,35.98,82.0,27/04/2008,Racing
4,Wii Sports Resort,E,Wii,Nintendo,32.90,80.0,26/07/2009,Sports

# Conncect and Upload to the Database

In [50]:
#Conncect to the Database
protocol = 'postgresql'
username = 'postgres' 
password = pwd_postgresql
host = 'localhost'
port = 5432               
database_name = 'video_games_project'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [51]:
engine.table_names()

C:\Users\L_Mul\AppData\Local\Temp\ipykernel_26880\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['final_game_data', 'video_game_sales', 'imdb_video_games', 'joined_games']

In [53]:
#Upload the Data to the Data base
games_final_2.to_sql(name='final_game_data', con=engine, if_exists='append', index=False)

67